dill==0.2.9
jedi==0.13.3
Jinja2==2.10
jsonschema==2.6.0
mistune==2.0.3
numpy==1.16.2
pickleshare==0.7.5
python-dateutil==2.8.0
requests==2.21.0
Send2Trash==1.5.0
six==1.12.0
spacy==2.1.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
thinc==7.0.4
torch==1.0.1.post2
torchtext==0.3.1
traitlets==4.3.2
urllib3==1.24.1
